.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-weight: 600;
  font-size: clamp(16px, 4vw, 20px);
  color: #364FC7;
  letter-spacing: 0;
}

.companyName {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.button {
  background: #0F0F10;
  font-weight: 400;
}
